<div class="task-list">

    <!-- Boutons pour filtrer par tâches créées et assignées sur mobile -->
    <div *ngIf="isMobile">
        <button mat-button color="secondary" (click)="shouldShowCreatedBy()">Tâches Créées</button>
        <button mat-button color="secondary" (click)="shouldShowAssignedTo()">Tâches Assignées</button>
    </div>

    <!-- Affichage des tâches créées par l'utilisateur -->
    <ng-container *ngIf="!isMobile || (isMobile && showCreatedBy)">
        <h2>Tâches Créées Par Moi</h2>
        <div class="flex-row">
            <mat-card *ngFor="let task of createdTasks" class="task-card">
                <mat-card-header>
                    <mat-card-title>{{ task.description }}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p><strong>Assignée à: </strong>{{ task.assignedToName }}</p>
                    <p><strong>Statut: </strong>{{ task.done ? 'Complétée' : 'En attente' }}</p>
                </mat-card-content>
                <mat-card-actions>
                    <!-- Bouton Modifier pour les tâches créées -->
                    <button mat-button color="primary" (click)="editTask(task)">Modifier</button>
                    <!-- Bouton Supprimer pour les tâches créées -->
                    <button mat-button color="warn" (click)="deleteTask(task)">Supprimer la tâche</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </ng-container>
    
    <!-- Affichage des tâches assignées à l'utilisateur -->
    <ng-container *ngIf="!isMobile || (isMobile && showAssignedTo)">
        <h2>Tâches Assignées à Moi</h2>
        <div class="flex-row">
            <mat-card *ngFor="let task of assignedTasks" [ngClass]="{'new-task': shouldHighlight(task.taskUid)}" class="task-card">
                <mat-card-header>
                    <mat-card-title>{{ task.description }}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p><strong>Créée par: </strong>{{ task.createdByName }}</p>
                    <p><strong>Statut: </strong>{{ task.done ? 'Complétée' : 'En attente' }}</p>
                </mat-card-content>
                <mat-card-actions>
                    <!-- Bouton pour changer le statut de la tâche assignée -->
                    <button mat-button color="primary" (click)="changeStatus(task)">
                        {{ task.done ? 'Marquer comme Incomplète' : 'Marquer comme Complétée' }}
                    </button>
                    <!-- Bouton Supprimer pour les tâches assignées -->
                    <button mat-button color="warn" (click)="deleteTask(task)">Supprimer la tâche</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </ng-container>
</div>
